html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0 20rem;
    color: #e6e6e6;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #e6e6e6;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

/* utilidades */

.text-center {
    text-align: center;
}

.btn {
    background-color: rgb(132, 19, 184);
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}

.btn:hover {
    background-color: rgb(71, 9, 100);
}

.contenedor {
    padding: 0 7rem;
}

/* header */

.portada {
    display: grid;
    grid-template-rows: 1fr 10rem 5rem;
    background-image: linear-gradient(to bottom, transparent 35%, rgb(35, 21, 46) 35%, rgb(35, 21, 46) 100%), url(../assets/img/header-principal.jpeg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: top;

}

.perfil {
    margin-top: 15rem;

    display: flex;
    justify-content: space-between;
}

.perfil-foto {
    height: 20rem;
    border-radius: 100%;
}

.portada nav {
    height: 5rem;
}

.contactar {
    padding-top: 10rem;
}

.contactar a {
    border-radius: 5rem;
    width: 14rem;
    text-align: center;
}